body {
    background-color: #222930;
    color: white;
}

h1 {
    text-align: center;
}

form{
    text-align: center;
    
}

form > * {
    margin-bottom: 5px;
    margin-top: 5px;
}

label {
    font-size: 20px;
}

[type="submit"] {
    font-size: 19px;
}