RewriteEngine On
#Options +FollowSymLinks
#for development only
Header set Cache-Control "no-cache, no-store, must-revalidate"
Header set Pragma "no-cache"
Header set Expires 0



RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond $1 !^(public|resources)
RewriteCond $1 !^index\.php$
RedirectMatch 403 public/?$
RedirectMatch 403 resources/?$


RewriteRule ^(.+)$ index.php/$1 

#RewriteRule ^(public/Register/add_user)(?uname=)(.+) index.php/$1/$3 [L]
#RewriteCond %{REQUEST_METHOD}=POST

#RewriteRule ^Register/add_user(?unname=)(.+)$ index.php/Register/add_user/$2 [L]
