RewriteEngine On
#Options +FollowSymLinks
#for development only



RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond $1 !^(public|resources)
RewriteCond $1 !^index\.php$
RedirectMatch 403 public/?$
RedirectMatch 403 resources/?$


RewriteRule . index.php
